@charset "utf-8";
/* CSS Document */

/* FONTS */

p {
  font-size: 1.2em;
}

/*COLORES*/

.btn-outline-color1 {
  color: var(--color1);
  border: 2px solid var(--color1);
  border-radius: 30px;
}

.btn-outline-color1:hover {
  color: rgb(255, 255, 255);
  background: var(--color1);
}

/*HEADER*/
.contenedor-xxl {
  max-width: 93%;
}
.navBar {
  background-color: #ff8200;
}

.carritoImagen {
  background-image: url("/assets/images/cesta-de-la-compra.png");
}

.h1Format {
  font-family: Eras Bold ITC;
  font-size: 26px;
  color: white;
}
.navLetras {
  font-family: Eras Bold ITC;
  font-size: 21px;
  color: white;
}

.ulNavBar {
  padding-left: 9rem;
}

/* */
/*FOOTER*/
.footerStyle {
  background-color: black;
  height: 9rem;
}

.divFooter > a {
  padding-left: 7%;
  padding-right: 7%;
}

.textoFooter {
  color: white;
}

/* INDEX.PHP */

/* SECTION */

/*Contenedor Pagina */
.contenedor-xxl {
  max-width: 93%;
}

/*Banner Principal */
#banner_principal {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% auto;
  text-align: center;
  padding: 0;
}
/*Banner Style*/
.banner {
  color: white;
  font-family: Eras Bold ITC;
  padding: 7%;
  --opacidad-negro: 0.6;
  background-image: linear-gradient(
    rgba(0, 0, 0, var(--opacidad-negro)),
    rgba(0, 0, 0, var(--opacidad-negro))
  );
}

#botonmenuprincipal {
  border: 2px solid white;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 18px;
}

@media (max-width: 992px) {
  #banner_principal {
    background-size: auto 100%;
  }

  .banner {
    color: white;
    font-family: Eras Bold ITC;
    padding: 7%;
  }

  #botonmenuprincipal {
    visibility: visible;
    height: auto;
    width: 100px;
  }
}
/* Text Style Platos Mas Solicitados */
.textoPlatos {
  color: black;
  font-family: Eras Bold ITC;
  text-align: center;
}
/* Boton Platos Mas Solicitados */
.botonStyle {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 18px;
}
/*Seccion Pato Gordo */
#seccionPatoGordo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-size: cover;
  padding: 0;
}
/*

/* Pagina Carta */

/*Mobil Carta*/
@media (max-with: 992px) {
  #botones_tienda_smartphone {
    display: none;
  }
}
/*Contendor Carta*/
.contenedor {
  max-width: 75%;
  margin-left: 10rem;
}
/*Style div P */
.divP {
  width: 20px;
  height: 25px;
  position: relative;
  left: 235px;
  bottom: 5rem;
}
/*Style Texto Carta*/

.fondoCarta {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0px;
  padding-top: 20px;
  background-image: url("../images/mesas.jpg");
}
.ocultaMenu {
  visibility: visible;
}

#carta_pc {
  padding-bottom: 150px;
}
/*Titulo Carta*/
.textoCarta {
  color: white;
  font-family: Eras Bold ITC;
  text-align: center;
}
.contenedorCarta {
  height: auto;
  width: auto;
  background-color: #ff8200;
  border-radius: 20px;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
  visibility: visible;
}
/*Style Formulario*/
.styleForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

/*Imagnes Comida*/
.imagenesCarta {
  width: 11rem;
  height: 8rem;
  /* margin-left: 20px; */
}

/*Columnas Carta*/
.columna {
  background-color: white;

  width: 350px;
  padding-top: 10px;
  padding-left: 25px;
  border-radius: 20px;
}

/*Style Botones*/
.botonStyleCarta {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  position: relative;
  left: 200px;
  bottom: 8rem;
  font-size: 17px;
}

.TitleCards {
  font-family: Eras Bold ITC;
  font-size: 28px;
  color: #ff8200;
  margin-top: 7px;
  /* margin-left: 20px; */
}

/*Titulo de cada Plato*/
#TitlePlatos {
  margin-top: 7px;
  font-size: 22px;
  /* margin-left: 20px; */
}
/*Style P*/
.styleP {
  font-size: 19px;
  position: relative;
  bottom: 3rem;
}

.pCuenta {
  position: relative;
  left: 3rem;
}

button.botonStyleCarrito {
  position: relative;
  left: 2.5rem;
  margin-bottom: 1rem;
}

/*H1 Style */
.divTitulo {
  /* margin-bottom: 20px; */
}
/* .textoCarta {
  color: black;
  font-family: Eras Bold ITC;
  font-size: 28px;
} */
/*Style Foto Platos*/
.fotoCarta {
  width: 75%;
  height: auto;
  border-radius: 7px 7px 7px 7px;
}

/*Style Carrito*/
/*Style Table*/
.styleTable {
  border: 1px solid black;
}
.styleTh {
  border: 1px solid black;
}

/*                      PAGINA                    CONTACTO                */
/*H1 CONTACTO*/
.textoContact {
  color: white;
  font-family: Eras Bold ITC;
  text-align: center;
}

/*Contenedor Form*/
.formStyle {
  background-color: white;
  border-radius: 20px;
  width: 32rem;
  height: 25rem;
}
/* Contacta */
.sectionMesas {
  width: auto;
  height: 1000px;
}
/*Contendor naranja contacto*/
.contenedorContact {
  background-color: #ff8200;
  border-radius: 20px;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
}
/*Style Boton*/
.botonStyleContacto {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}

.formStyleContact {
  background-color: white;
  border-radius: 20px;
  width: 30rem;
}
.localizacionDiv {
  background-color: white;
  border-radius: 20px;
  width: 30rem;
  height: 26rem;
}
#imagenLoca {
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  height: 17rem;
}

/*Titulo Form*/
.h3Form {
  font-family: Eras Bold ITC;
  font-size: 22px;
}

/*Posicion Botones*/
/*DIV BOTONES*/

#botonContact {
  float: left;
}
#botonContact1 {
  float: right;
}

.iframe {
  margin-left: auto;
  margin-right: auto;
}
.stylePLoca {
  font-size: 16px;
}
.LocalizacionStyle {
  background-color: white;
  border-radius: 20px;
  width: 45rem;
  height: 25rem;
}

/*        REGISTRARSE        */
/*div naranja*/
.contenedorRegi {
  background-color: #ff8200;
  border-radius: 20px;
  max-width: 65rem;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
}

/*Style Form Reguistrarse*/
.formStyleCerrar {
  background-color: white;
  border-radius: 20px;
  width: 30rem;
  height: 20rem;
}

/* INICIAR SESSION */
.h1Iniciar {
  color: white;
}
.contenedorIni {
  background-color: #ff8200;
  border-radius: 20px;
  max-width: 65rem;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
}

.formStyleIni {
  background-color: white;
  border-radius: 20px;
  width: 30rem;
  height: 17rem;
}

.formStyleVideo {
  background-color: white;
  border-radius: 20px;
  height: 100px;
}

.botonAddAdmin {
  position: relative;
  bottom: 40px;
  left: 220px;
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}

.divImg {
  max-width: 30rem;
}
.divImgIni {
  max-height: 17rem;
}
.divImagenPatito {
  width: 23rem;
  height: 20rem;
}
/*Foto Pato Iniciar Session / Registrarse*/
.patoRegi {
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
}
/*Style Botones Registrarse*/
.botonStyleRegi {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 2px 20px;
  font-size: 18px;
}

/*Politicas de Privacidad*/
.contenedorPoliticas {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 20px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  visibility: visible;
  margin-bottom: 10px;
}
.tamañoFondo {
  height: auto;
  width: auto;
  padding-bottom: 5rem;
}
/* STYLE CARRITO */
/*h1 carrito*/
.h1Carrito {
  color: white;
  font-family: Eras Bold ITC;
}
.contenedorCarrito {
  background-color: #ff8200;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
  border-radius: 20px;
  padding-bottom: 39px;
}

/*Contenedor Carrito Mobil*/
.contenedorCarritoMobil {
  background-color: #ff8200;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
  width: auto;
  height: auto;
  border-radius: 20px;
}
#carrito_pc {
  height: 900px;
}

#cuenta {
  height: 900px;
}
/*Media Query Carrito*/
@media screen and (max-width: 1920px) {
  #carrito_mobil {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #carrito_mobil {
    display: block;
  }
  #carrito_pc {
    display: none;
  }
}
.precioTotal {
  position: relative;
  bottom: 5rem;
  left: 24px;
}

/*Contenedor dentro Carrito*/
.contenedorDentroCarrito {
  background-color: white;
  border-radius: 20px;
  margin-top: 32px;
  height: auto;
}
/*Contenedor dentro Carrito Mobil*/
.contenedorDentroCarritoMobil {
  background-color: white;
  border-radius: 20px;
  margin-top: 32px;
  height: auto;
}
/*Precio Total*/
.divPrecio {
  background-color: #ff8200;
  width: auto;
  height: 50px;
  border-radius: 5px;
}

/*DIV Finalizar Compra*/
.precioFinal {
  background-color: #ff8200;
  max-width: 20rem;
  border-radius: 5px;
  opacity: 1.1;
}
.botonFinalizar {
  max-width: 20rem;
  border-radius: 20px;
  margin-top: 8px;
  margin-left: 15px;
}
/*Style H2*/
.h2Total {
  font-family: Eras Bold ITC;
  color: white;
  float: left;
  padding-top: 11px;
}
.pPrecio {
  padding-top: 9px;
  color: white;
}
/*Contenedor Finalizar Compra*/
.contendroFinalizar {
  background-color: #ff8200;
  width: 25rem;
  height: 2rem;
  border-radius: 20px;
}
/*H1 TITULO*/
.h1Pedido {
  text-align: left;
  font-family: Eras Bold ITC;
}
/*Style Botonoes*/
.botonStyleCarritoPC {
  border: 0px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
}

.botonStyleCarritoMas {
  border: 1px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
}

.botonStyleCarritoQuitar {
  border: 0px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  /* padding: 6px 26px; */
  padding-top: 6px;
  margin-left: 10px;
}
.botonStyleCarritoMenos {
  border: 0px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 20px;
}
.cantidadPedidoMobil {
  position: relative;
  bottom: 249px;
  left: 200px;
  width: 10px;
  height: 10px;
}
.borrarMobil {
  position: relative;
  bottom: 265px;
  left: 290px;
  width: 10px;
  height: 10px;
}
.botonStyleCarrito {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
}

/*CARTA MOBIL*/
@media screen and (max-width: 1920px) {
  #carta_mobil {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #carta_mobil {
    display: block;
  }
  #carta_pc {
    display: none;
  }
}
/*CONTENEDOR CARTA*/
.contenedorCartaMobil {
  height: 2500px;
  width: auto;
  background-color: #ff8200;
  border-radius: 20px;
  visibility: visible;
  background: linear-gradient(rgba(255, 130, 0, 0.7), rgba(255, 130, 0, 0.7));
}
/*COLUMNAS MOBIL*/
.columnaMobil {
  background-color: white;
  width: 350px;
  padding-top: 10px;
  padding-left: 25px;
  border-radius: 20px;
}
/*           COMPRA  FINAL            */
.contenedorDentroCarritoFinal {
  background-color: white;
  border-radius: 20px;
}
/*BOTONES TIENDA*/
#botones_tienda_escritorio {
  width: 100px;
  text-align: right;
}

#botones_tienda_smartphone {
  visibility: hidden;
  text-align: right;
  width: 90px;
}

#botones_tienda_escritorio a img {
  width: 30px;
}

#botones_tienda_smartphone a img {
  width: 30px;
}

@media (max-width: 992px) {
  #botones_tienda_escritorio {
    visibility: visible;
    height: 0px;
    width: 0px;
    margin: 0;
  }

  #botones_tienda_escritorio img {
    height: 0px;
    width: 0px;
    margin: 0;
  }

  #botones_tienda_smartphone {
    visibility: visible;
    float: right;
  }
}

/* SECCION PASTELES */
.divOferta {
  margin-left: auto;
  margin-right: auto;
}
/*Style Imagnes Platos Mas Solicitados */
.fotocolumna {
  width: 75%;
  height: auto;
  border-radius: 7px 7px 7px 7px;
}

.textoOfertas {
  color: black;
  font-family: Arial Nova;
}

#pasteles a {
  text-decoration: none;
}

#pasteles a:hover {
  opacity: 0.5;
}

#pasteles > hr {
  border: 1px solid var(--color1);
  opacity: 0.4;
}

#pasteles > div > div > a > div {
  border-radius: 30px;
}

/* SECCION INTERES */
.interes {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.interes div.row {
  background: RGB(255, 255, 255, 0);
}

.paddingespaciado {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 100px;
  padding-right: 100px;
}

.fotocol {
  background: var(--color2);
}

.fotocol2 {
  background: var(--color3);
}

@media (max-width: 992px) {
  .fotocol {
    background: rgba(239, 239, 239, 0.85);
    color: rgb(0, 0, 0);
    padding: 50px;
  }

  .fotocol2 {
    background: rgba(255, 255, 255, 0.95);
    color: rgb(0, 0, 0);
    padding: 50px;
  }

  #interes {
    background-size: auto 100%;
  }
}

/*div form*/
.div-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form Reseñas */
.container-form {
  width: 50rem;
  height: 22rem;
  background-color: white;
  border-radius: 1rem;
}

/* Reseñas estrellas */
.form-estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  color: grey;
}
input[type="radio"] {
  display: none;
}
.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}
label:hover {
  color: orange;
}
label:hover ~ label {
  color: orange;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

/* Resena div */
.div-resena {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
}

/*Div izquierda resenaña*/
.div-izquierda-reseña {
  height: 20rem;
  background-color: transparent;
  margin-right: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

.div-derecha-reseña {
  width: 90rem;
  background-color: antiquewhite;
  margin-right: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

.div_general_estrellas {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 7px;
}

.button-mis_pedidos {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}

.button-mis_pedidos:hover {
  color: #ff8200;
  background-color: #fff;
  border: 1px solid black;
}

.styleVisualizar {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}

.styleVisualizar:hover {
  color: #ff8200;
  background-color: #fff;
  border: 1px solid black;
}

/* override styles here */
.notie-container {
  box-shadow: none;
}

.boton_video {
  background-color: red;
}

.estrellas-reseña {
  color: #ff8200;
  margin-right: 7px;
}

.div-separacion {
  width: 50px;
}

.botonCartaVideo {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
  position: relative;
  top: 650px;
  left: 48rem;
  width: 100px;
  z-index: 1;
}

.botonCartaVideo:hover {
  color: #ff8200;
  background-color: #fff;
  border: 1px solid black;
}

.container-checkboxes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.div-checkbox{
  padding: 1rem;
  border: 0px;
  background-color: white;
  color: black;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
  margin: 1rem;
  width: 20rem;
  justify-content:center;
}

span{
  padding: 1rem;
}

.container-form-reseñas {
  background-color: white;
  border-radius: 1rem;
  width: 60rem;
}

.botonStyleReseñasAceptar {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}

.botonStyleReseñasAceptar:hover {
  border: 2px solid green;
  background-color: white;
  color: green;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}


.botonStyleReseñasCancelar {
  border: 0px;
  background-color: #ff8200;
  color: white;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}

.botonStyleReseñasCancelar:hover {
  border: 2px solid red;
  background-color: white;
  color: red;
  font-family: Eras Bold ITC;
  border-radius: 19px;
  padding: 6px 26px;
  font-size: 17px;
}


.div-precio-reseña{
  display: flex;
}



